<h2>Validaciones reactivas</h2>
<hr>

<div class="row">
    <div class="col">

        <form autocomplete="off"
              [formGroup]="miFormulario"
              (ngSubmit)="submitFormulario()">

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="Nombre..."
                           formControlName="nombre">

                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('nombre')">
                        Debe tener formato de nombre y apellido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                           class="form-control"
                           placeholder="Email..."
                           formControlName="email">
                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('email')">
                          {{ emailErrorMessage }}
                    </span>
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Usuario</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="Usuario..."
                           formControlName="username">
                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('username')">
                        El usuario es obligatorio
                    </span>
                </div>
            </div>

            <!-- Contraseña -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Contraseña</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           placeholder="Contraseña..."
                           formControlName="password">
                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('password')">
                        La contraseña debe de ser mayor de 6 caracteres
                    </span>
                </div>
            </div>

            <!-- Confirmar contraseña -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar contraseña</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           placeholder="Confirmar contraseña..."
                           formControlName="password_repeat">
                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('password_repeat')">
                        Las contraseñas deben de ser iguales
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit"
                            [disabled]="miFormulario.pending"
                            class="btn btn-primary float-end">
                        Crear
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>



<h5>Form Valid</h5>
<p>{{ miFormulario.valid }}</p>

<h5>Form Status</h5>
<p>{{ miFormulario.status }}</p>

<h5>Form Pending</h5>
<p>{{ miFormulario.pending }}</p>

<h5>Form Errors</h5>
<pre>{{ miFormulario.errors | json }}</pre>

<h5>Nombre</h5>
<pre>{{ miFormulario.controls.nombre.errors | json }}</pre>

<h5>Email</h5>
<pre>{{ miFormulario.controls.email.errors | json }}</pre>

<h5>Username</h5>
<pre>{{ miFormulario.controls.username.errors | json }}</pre>

<h5>Password</h5>
<pre>{{ miFormulario.controls.password.errors | json }}</pre>

<h5>Password_Repeat</h5>
<pre>{{ miFormulario.controls.password_repeat.errors | json }}</pre>