<h2>Validaciones reactivas</h2>
<hr>

<div class="row">
    <div class="col">

        <form autocomplete="off">

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="Nombre...">

                    <span class="form-text text-danger">
                        Debe tener formato de nombre y apellido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                           class="form-control"
                           placeholder="Email...">
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Usuario</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           placeholder="Usuario...">
                </div>
            </div>

            <!-- Contraseña -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Contraseña</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           placeholder="Contraseña...">
                </div>
            </div>

            <!-- Confirmar contraseña -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar contraseña</label>
                <div class="col-sm-9">
                    <input type="password"
                           class="form-control"
                           placeholder="Confirmar contraseña...">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end">
                        Crear
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>